{{extend 'layout.html'}}
<form>
<table>
	<tr>
		<td>User Name:</td>
		<td><input name="user_name" type="text" value=""/></td>
	</tr>
	<tr>
		<td>Password:</td>
		<td><input type="password" value="" name="password" class="password"/></td>
	</tr>
	<tr>
    	<td><input type="submit" value="Submit" /></td>
    </tr>
</table>
{{=form.hidden_fields()}}
</form>