{{extend 'layout.html'}}
<form>
<table>
	<tr>
		<td>User Name:</td>
		<td><input name="user_name" type="text" value="{{=form.latest.user_name}}"/></td>
	</tr>
	<tr>
		<td>First Name:</td>
		<td><input name="first_name" type="text" value="{{=form.latest.first_name}}"/> </td>
	</tr>
	<tr>
		<td>Last Name:</td>
		<td><input name="last_name" type="text" value="{{=form.latest.last_name}}"/> </td>
	</tr>
	<tr>
		<td>Email:</td>
	    <td><input name="email" type="text" value="{{=form.latest.email}}"/> </td>	
	</tr>

	<tr>
		<td>Password:</td>
		<td><input type="password" value="" name="password" class="password"/></td>
	</tr>
	<tr>
	<td>Verify Password:</td>
	<td><input type="password" name="password_two"/></td>
	</tr>
	<tr>
    	<td><input type="submit" value="Submit" /></td>
    </tr>
</table>
{{=form.hidden_fields()}}
</form>
